
body,html{
	height: 100%;
}
body{
	overflow: hidden;
}

.menu a,.text-box a,.menu a:hover,.text-box a:hover{
	text-decoration: none;
}
.menu a{
	color: #55585A;
}
.menu a:hover{
	color: #50A8D4;
}
.content{
	height: 100%;
	width: 100%;
	/*background-color: #B4AEAE;*/
	text-align: center;
}
.center-box{
	/*background-color: #BBF1F6;*/
	position: absolute;
	left: 50%;
	top: 8%;
	width: 50%;
	height: 50%;
	line-height: 100%;
	margin-left:-25%;
	margin-top: 10%;
	text-align: center;
}
.center-content-box{
	/*background-color: #DCEA8F;*/
	position: relative;
	top: 10%;
	width: 100%;
	height: 50%;
	line-height: 100%;
	margin-top: -4%;
	text-align: center;
}
.text-box{
	position: relative;
	top: 10%;
	padding: 3%;
	/*background-color: #F1A1A1;*/
}
#btu-menu{
	padding-top: 5%;
	padding-bottom: 2%;
	/*background-color: #8DEFAB;*/
	position: relative;
	top: 10%;
}
#btu-menu a{
	background-color: #ACE2F6;
	padding: 0.5em 1.2em 0.5em 1.2em;
	font-size: 1.2em;
	font-weight: 700;
	border: 2px solid #ACE2F6;
	transition: all .8s;
}
#btu-menu a:hover{
	background-color: transparent;
	padding: 0.5em 1.2em 0.5em 1.2em;
	/*box-shadow: 0px 0 0 2px transparent,  0px 0 0 7px transparent, 0px 0 0 28px #EB5850 inset;*/
	box-shadow: 0px 0 0 2px transparent,  0px 0 0 7px transparent, 0px 0 0 28px transparent inset;

}

#collapseExample{
	
	width: 100%;
	/*background-color: #F07C7C;*/
	background-color: #FFFFFF;
	/*谷歌*/
	/*background:-webkit-gradient(linear, 0% 0%, 0% 100%,from(#F07C7C), to(#FFFFFF)); */
	/*火狐*/
	/*background:-moz-linear-gradient(top,#F07C7C,#FFFFFF);*/
}
.menu-row{
	padding-top: 2em;
	padding-bottom: 1em;
}
/*jelly*/
.center-type{
	text-align: center;
}
#jelly{
	z-index: 1000;
	background-color: #50A8D4;
	top: 0.2em;
	margin: 0 auto;
	width: 13em;
	height: 8em;
	border-radius: 50% / 100% 100% 0 0;

}
#jelly-right-eyebrows{
	position: relative;
	float: right;
	width: 0;
	height: 0;
	border-left: 0.8em solid transparent;
	border-right: 3.2em solid #55585A;
	border-top: 1em solid transparent;
	border-bottom: 1em solid #55585A;
	/*display: none;*/
}
#jelly-left-eyebrows{
	position: relative;
	float: left;
	
	width: 0;
	height: 0;
	border-left: 3.2em solid #55585A;
	border-right: 0.8em solid transparent;
	border-top: 1em solid transparent;
	border-bottom: 1em solid #55585A;
	/*display: none;*/
}
#jelly-left-eye{
	background-color: #55585A;
	position: relative;
	top: 2.3em;
	left: 20%;
	/*margin: 0 auto;*/
	width: 2em;
	height: 2em;
	border-radius: 50%;
	/*display: none;*/
}
#jelly-right-eye{
	background-color: #55585A;
	position: relative;
	top: 0.3em;
	left: 65%;
	/*margin: 0 auto;*/
	width: 2em;
	height: 2em;
	border-radius: 50%;
	/*display: none;*/
}
#jelly-mouth{
	/*background-color: #55585A;*/
	position: relative;
	top: 0.8em;
	margin: 0 auto;
	width: 0;
	height: 0;
	border-left: 1.2em solid transparent;
	border-right: 1.2em solid transparent;
	border-bottom: 4em solid #55585A;
	border-radius: 10%;
	display: none;
}


/*宣墙字体特效 Manko */
.link {
	outline: none;
	text-decoration: none;
	position: relative;
	font-size: 1.2em;
	line-height: 1;
	color: #9e9ba4;
	display: inline-block;
}
.link--manko {
	color: #B1C0B2;
	font-family: 'Playfair Display', serif;
	font-weight: 900;
	/*font-style: italic;*/
	padding: 0.65em 0 0.8em;
	-webkit-transition: color 0.5s;
	transition: color 0.5s;
}

.link--manko:hover {
	color: #1e1a1b;
}

.link--manko::before,
.link--manko::after {
	content: '';
	position: absolute;
	border-width: 4px 0;
	border-style: solid;
	border-color: #F6BCBC;
	pointer-events: none;
	-webkit-transform: scale3d(0,1,1);
	transform: scale3d(0,1,1);
	-webkit-transition: -webkit-transform 0.4s;
	transition: transform 0.4s;
	-webkit-transition-timing-function: cubic-bezier(0.2,1,0.3,1);
	transition-timing-function: cubic-bezier(0.2,1,0.3,1);
}

.link--manko::before {
	width: 50%;
	left: 25%;
	height: 80%;
	top: 10%;
}

.link--manko::after {
	width: 30%;
	left: 35%;
	height: 100%;
	top: 0;
}

.link--manko:hover::before,
.link--manko:hover::after {
	-webkit-transform: scale3d(1,1,1);
	transform: scale3d(1,1,1);
}

.link--manko span {
	color: #E9A3BF;
	font-weight: 400;
	position: absolute;
	font-size: 0.4em;
	left: 0;
	width: 100%;
	opacity: 0;
	pointer-events: none;
	-webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
	transition: opacity 0.5s, transform 0.5s;
}

.link--manko span:first-of-type {
	bottom: 100%;
	margin-bottom: 15px;
	-webkit-transform: scale3d(0.8,0.8,1) translate3d(0,10px,0);
	transform: scale3d(0.8,0.8,1) translate3d(0,10px,0);
}

.link--manko span:last-of-type {
	top: 100%;
	margin-top: 10px;
	-webkit-transform: scale3d(0.8,0.8,1) translate3d(0,-10px,0);
	transform: scale3d(0.8,0.8,1) translate3d(0,-10px,0);
}

.link--manko:hover span {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

.link--manko:hover span:first-of-type {
	-webkit-transition-delay: 0.15s;
	transition-delay: 0.15s;
}

.link--manko:hover span:last-of-type {
	-webkit-transition-delay: 0.20s;
	transition-delay: 0.20s;
}